# Ignore cache and temporary files
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.db

# Jupyter Notebook hidden checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db










